<ul>
  <% @videos.each do |video| %>
    <li><%= link_to video.title, video_path(video.id) %></li>
    <li><%= video.description_snippet %></li>
    <li> Rating: <%=video.rand_num %></li>
  <% end %>
</ul>



